/* GENERAL */ 

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600:700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root{
  --primary-color: #1F1F1F;
  --secondary-color: white;
  --third-color: #FFB84C;
  --hover-btn-color: #FFBB5C;
  --default-btn: #EE9322;
}

.light-theme{
  --primary-color: white;
  --secondary-color: #1F1F1F;
  --third-color: #1450A3;
  --hover-btn-color: #279EFF;
  --default-btn: #337CCF;
}

body{
  background-color: var(--primary-color);
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Fredoka', sans-serif; */
  font-family: 'Oswald', sans-serif;
}

/* typing texttt */

.typing-text{
  overflow: hidden;
}

.span-p{
  color: var(--secondary-color);
}

.typing-text .span-p{
  position: relative;
}

.span-p.text-2::before{
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  border-left: 2px solid #FB2576 ;
  animation: animate 4s steps(12) infinite;
}


@keyframes animate{
  40% ,60%{
    left: calc(100% + 4px);
  }
  100%{
    left: 0%;
  }
}

/* typing text end */
.logo-img{
  display: flex;
  height: auto;
  width: 300px;
}

html{
    scroll-behavior:smooth;
}

p{
    color: var(--secondary-color);
}

h3{
  color: var(--secondary-color);
}

/* TRANSITION */

a, .btn{
    transition: all 200ms ease;
}

/* DESKTOP NAV */



nav, .nav-links{
    display: flex;
}

nav{
    justify-content:space-evenly;
    align-items: center;
    height: 17vh;
}

.tooltip{
  margin: 7vw;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
  color: var(--secondary-color);
  text-decoration: none;
  display: block;
  position: relative;
  padding: 0.2em 0;
}

a:hover {
  color: #EC53B0;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #EC53B0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

/* HAMBURGER NAV */

#hamburger-nav{
  display: none;
}

.hamburger-menu{
  position: relative;
  display: inline-block ;
  padding: 5vw;
}

.hamburger-icon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span{
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  transition:all 0.3 ease-in-out ;
}

.menu-links{
  position: absolute;
  top: 100%;
  right: 0;
  background-color:var(--primary-color);
  width: fit-content;
  max-height: 0; 
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li{
  list-style: none;
}

.menu-links.open{
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section{
  padding: 4vh;
  min-height: 100vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container{
  display: flex;
}

/* PROflIE */

#profile{
  display: flex;
  justify-content: center;
  gap: 5rem;
  min-height: 80vh;
}

.section__pic-container{
  display: flex;
  height: 400px;
  width: 400px;
  margin: 100px 0;
}

.profile-pic{
  height: 350px;
  width: 350px;
  box-shadow: inset 0 0 0 9px rgb(255 255 255 /30%);
  animation: profile_animate 8s ease-in-out infinite;
  border: #7f7f7f 9px solid;
}

@keyframes profile_animate{
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.section__text{
  color: var(--secondary-color);
  align-self: center;
  text-align: center;
}

.section__text p{
  color: var(--secondary-color);
  font-weight: 600;
}

.section__text__p1{
  color: var(--secondary-color);
  text-align: center;
}

.section__text__p2{
  color: var(--secondary-color);
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title{
  color: var(--third-color);
  font-size: 3rem;
  text-align: center;
  padding-bottom: 4vh;
}

#socials-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* icons */

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  margin-top: 30px;
  border-radius: 6px;
  margin-left: -15px; 
  position: absolute;
  opacity: 0;
  transition: opacity 600ms;
  font-size: 1rem;
  text-shadow: 1rem 1rem 0.8 var(--secondary-color);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.icon{
  cursor: pointer;
  height: 2rem;
}

.profile-icon{
  padding: 0.4rem;
  color: var(--secondary-color);
}

.profile-icon:hover{
  transform: scale(130%);
  transition: all;
}

/* BUTTON */

.btn-container{
  display: flex;
  gap: 1rem;
  justify-content: center; 
}

.btn{
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  margin: 1rem 0;
}

.btn-color-1,.btn-color-2{
  border: #7f7f7f 0.1rem solid;
}

.btn-color-1:hover , .btn-color-2:hover{
  cursor: pointer;
}

.btn-color-1:hover ,.btn-color-2{
  background: var(--default-btn);
  color: var(--secondary-color);
}

.btn-color-2:hover{
  background: var(--hover-btn-color);
}

.btn-color-1{
  color: var(--secondary-color);
  background: none;
}

.btn-color-1:hover{
border: var(--primary-color) 0.1rem solid;
}

/* ABOUT ME */
.details-container li{
  list-style-type: none;
}

#about{
  position: relative;
  padding-bottom: 20vh;
}

.about-p-text{
  color: var(--secondary-color);
  opacity: 0.9;
  font-size: large;
}

.about-containers{
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container{
  justify-content: center;
  flex-direction: column;
}

.about-containers, .about-details-container{
  display: flex;
}

.about-pic{
  border-radius: 2rem;
}

.arrow{
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container{
  text-align: center;
  padding: 1.5rem;
  flex: 1;
  background:var(--primary-color);
  border: #0079FF 1px solid;
}

.section-container{
  gap: 4rem;
  height: 80%;
}

.section__pic-container{
  height: 400px;
  width:  400px;
  margin: auto 0;
}

.text-container{
  text-align: center;
}

/* EXPERIENCEE */

#experience{
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.experience-sub-title{
  color: var(--third-color);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container{
  display: flex;
  flex-direction: column;
  justify-content:left;
}

.article-container{
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

.skills-container{
  border-image: linear-gradient(#EC53B0, #0E21A0) 30;
  border-width: 4px;
  border-style: solid;
}

article{
  display: flex;
  width: 10rem;
  gap: 0.5rem;
}

article .icon, h3{
  cursor: default;
}

/* ACCORDIAN WORK HISTORY */


.exp-pic{
  margin-top: 4vh;
  padding: 0;
  max-width: 4vw;
  height: auto;
}
.exp-content{
  margin: 0 18px;
       height: auto;
        max-height: 0;
        max-width: max-content;
        overflow: hidden;
        transform: translateY(20px);
        transition: all 800ms cubic-bezier(0, 1, 0, 1); 
}

.work-history{
  color: var(--secondary-color);
  margin: 4vh;
}
.experience-history-container{
  border: #0079FF 2px solid;
  color: var(--secondary-color);
  margin: 2rem;
  padding: 2rem;
  line-height: 1.8;
  transition: transform 500ms;
  flex-direction: column;
  justify-content:space-between;
  opacity: 0.72;
}

.experience-history-container:hover{
  transform: scale(103%);
  opacity: 1;
}

.exp-title{
  font-size: larger;
  display: flex;
  justify-content: space-between;
}

h5{
  color: #7f7f7f;
  opacity: 0.7;
}

.exp-content li{
  padding: 0.5rem;
}

.exp-content ul li::before{
    content: "+ ";
}

#ca,#cb,#cc,#cd{
  display: none;
}

#ca:checked ~ .exp-content{
  max-height: 700px;
        transition: all 800ms ease-in-out;
}

#cb:checked ~ .exp-content{
  max-height: 700px;
        transition: all 800ms ease-in-out;
}

#cc:checked ~ .exp-content{
  max-height: 700px;
        transition: all 800ms ease-in-out;
}

#cd:checked ~ .exp-content{
  max-height: 700px;
        transition: all 800ms ease-in-out;
}

label{
  cursor: pointer;
}

/* PROJECTSS */

#projects{
  position: relative;
}

.color-container{
  border-color:#0079FF;
  background: var(--primary-color);
}

.color-container:hover{
  transform: translateY(-10px);
    transition: all 400ms ease-in-out;
}


.project-img{
  border-radius: 2rem;
  height: 90%;
  width: 90%;
}

.project-title{
  margin: 1rem;
  color: #EE9322;
}

.project-wrap{
  display: flex;
  flex-wrap: wrap;
}

.project-border{
  border-radius: none;
  border: #1450A3 2px solid;
  min-width: 200px;
}


/* CONTACT */

#contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 120vh;
}

.contact-info-upper-container{
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: var(--primary-color)0.1rem solid;
  border-color: var(--primary-color);
  background: var(--primary-color);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p{
  font-size: larger;
}

.contact-icon{
  cursor: default;
}

.contact-text{
  color: #7f7f7f;
}
.contact-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2;
}
form{
  display: flex;
  flex-direction: column;
  padding:  3vw 5vw;
  width: 60%;
  max-width: 400px;
  border-radius: 2rem;
  background-color: rgb(125, 124, 124);
}

form h3{
  margin-bottom: 30px;
}

form input, form textarea{
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  border-radius: 2rem;
  background-color: white;
  font-size: 16px;
  border: #7f7f7f 2px solid;
}

form button{
  border-radius: 1rem;
  padding: 0.6rem;
  margin: 1rem 0;
  width: 5rem;
  border: #7f7f7f 2px solid;
  outline: none;
  cursor: pointer;
}

form button:hover{
  color: var(--third-color);
}

#contact-name:hover{
  border: #0079FF 2px solid;
}
#contact-email:hover{
  border: #0079FF 2px solid;
}
#contact-phone:hover{
  border: #0079FF 2px solid;
}
#contact-msg:hover{
  border: #0079FF 2px solid;
}


/* fooooter */

footer{
  height: 26vh;
  margin: 0 1rem;
}

footer p{
  text-align: center;
}
